@media (max-width: 700px) {
    body {
        width: 90%;
    }

    html {
        background-color: bisque;
    }
    
    .main-text, .header, h1 {
        background-color: bisque !important;
    }
    .main-text, .top {
        float: none;
        width: 100%;
        max-width: 100%;
        display: block;
    }

    .main-text {
        width: 100% !important;
    }
}