@media (max-width: 700px) {
    body {
        width: 90% !important;
    }

    html {
        background-color: rgb(150, 150, 150) !important;
    }
    
    .main-text, .header, h1 {
        background-color:  rgb(150, 150, 150) !important;
    }
    .main-text, .top {
        float: none;
        width: 100% !important;
        max-width: 100% !important;
        display: block;
    }

    .main-text {
        width: 100% !important;
        font-size: clamp(20px, 7vw, 20px);
    }

    .header {
        font-size: clamp(20px, 6vw, 30px) !important;
        color:darkslategrey !important;
    }

    .advice {
        justify-content: center !important;
        width: 100% !important;
    }

    h1 {
        padding: 5% !important;
        font-size: clamp(20px, 11vw, 40px) !important;
    }

    .top li, .top h2 {
        font-size: 2em !important;
        background-color: rgb(150, 150, 150) !important;
    }
}